
a, a:hover, a:visited {
  /*color: rgb(228, 25, 55);*/
}

header {
  background-color: rgb(236, 236, 236);
  /*background-image: url('../images/hero-image.jpg');*/
  background-position: 75% 10%;
  background-size: cover;
}

header a, 
header a:hover, 
header a:visited {
  /*color: rgb(228, 25, 55);*/
  color: black;
  text-decoration: none;
}

.hero {
  /*color: rgb(228, 25, 55);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
  font-weight: bold;
}

.hero-logo {
  position: relative;
  text-align: center;
}

.logo {
  position: relative;
  max-width: 80%;
  padding-top: 5rem;
}

.hero-text {
  font-size: 150%;
  padding-top: 5rem;
  text-align: center;
}

nav {
  padding-top: 1em;
  padding-bottom: 1em;
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}

.menu-item {
  text-align: center;
}

nav a {
  font-size: 150%;
  text-decoration: none;
}

footer {
  margin-top: 4em;
  padding: 1em 0;
  text-align: center;
  background-color: rgb(236, 236, 236);
}

article {
  margin-top: 2em;
}

article h2 {
  margin-top: 4em;
}

article img {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
}

article table {
  margin: 0 auto;
  margin-bottom: 2em;
}