<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genbukan Deutschland</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/fonts.css"> 
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/leaflet.css">
    <link rel="stylesheet" href="/css/genbukan.css">
    <script src="js/leaflet.js"></script>
  </head>
  <body> 
    <div class="container">
      <header>
        <div class="row hero">
          <div class="one-third column hero-logo">
            <a href="/"><img class="logo" src="/images/genbukan.png"></a>
          </div>
          <div class="two-thirds column hero-text">
            <h1><a href="/">Genbukan Deutschland</a></h1>
            <p>Ninjutsu in Deutschland</p>
          </div>
        </div>
        <nav class="row">
          <div class="three columns menu-item"><a href="/dojos.html">Dojos</a></div>
          <div class="three columns menu-item"><a href="/kampfkuenste.html">Kampfkünste</a></div>
          <div class="three columns menu-item"><a href="/meister.html">Meister</a></div>
          <div class="three columns menu-item"><a href="/impressum.html">Impressum</a></div>      
        </nav>
      </header>
      <article>
        {{ content }}
      </article>      
      <footer>
        <p><a href="/impressum.html">Impressum</a></p>
        <p>Diese Webseite verwendet keine Cookies und verarbeitet keine Daten.</p>
      </footer>    
    </div> 
  </body>
</html>
